{{ .commentMarker }} Copyright {{.year}} {{.userName}}
{{ .commentMarker }}
{{ .commentMarker }}  Licensed under the Apache License, Version 2.0 (the "License");
{{ .commentMarker }}   you may not use this file except in compliance with the License.
{{ .commentMarker }}   You may obtain a copy of the License at
{{ .commentMarker }}
{{ .commentMarker }}       http:{{ .commentMarker }}www.apache.org/licenses/LICENSE-2.0
{{ .commentMarker }}
{{ .commentMarker }}   Unless required by applicable law or agreed to in writing, software
{{ .commentMarker }}   distributed under the License is distributed on an "AS IS" BASIS,
{{ .commentMarker }}   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
{{ .commentMarker }}   See the License for the specific language governing permissions and
{{ .commentMarker }}   limitations under the License.
